<%- include('head'); -%>
<main class="main-content">
    <section class="login-section">
        <div class="login-container">
            <h1 class="login-title">Sign in</h1>
            <% if (hasMessages) { %>
                <section class="messages">
                    <% messages.forEach(function(message) { %>
                        <p class="message-text"><%= message %></p>
                    <% }); %>
                </section>
            <% } %>
            <form action="/passport-auth/password" method="post" class="login-form">
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" name="username" type="text" autocomplete="username webauthn" required autofocus class="form-input">
                </div>
                <div class="form-group">
                    <label for="current-password" class="form-label">Password</label>
                    <input id="current-password" name="password" type="password" autocomplete="current-password" required class="form-input">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <a id="siw-public-key" class="button public-key" href="#/">Sign in with Touch ID</a>
            <hr class="divider">
            <p class="help-text">Don't have an account? <a href="/signup" class="signup-link">Sign up</a></p>
        </div>
    </section>
</main>
<%- include('foot'); -%>

